.main-slider {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 100%;
}
.slider-inside {

    width: 60%;
    display: flex;
    margin-top: 95px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    height: 200px;


}
.slider-image {
    height: 250px;
    width: 400px;
    display: block;
    margin: auto;
}
.slick-arrow {
    color: black;
}
.slick-prev {
    z-index: 100;
    left: 20px !important;
}
.slick-prev {
    z-index: 100;
    right: 20px !important;
}
