.our-menu {
    width: 100%;
    height: 1045px;
    background-image: url(../../../assets/images/menu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}