@charset "utf-8";
body, h1, h2, h3, h4, h5, h6 {
    font: 14px/18px Verdana, sans-serif;
}
code, kbd, pre, samp, tt, var {
    font: 14px/18px Consolas, "Courier New", monospace;
}
body, optgroup {
    color: #000;
    background: #fff;
}
body, code, dl, dd, form, pre {
    margin: 0;

}
/*a:link {*/
/*    color: #009;*/
/*}*/

/*a:visited {*/
/*    color: #505;*/
/*}*/
/*a:hover {*/
/*    text-decoration: underline;*/
/*}*/
a:link, a:visited, ins {
    text-decoration: none;
}
a:link img, a:visited img, object, fieldset, abbr, acronym {
    border: none;
}
sub, sup {
    position: relative;
    display: inline-block;
    font-size: 11px;
    line-height: 11px;
}
sub {
    top: 5px;
    vertical-align: middle;
}
sup {
    top: -2px;
    margin-top: -11px;
}
abbr, acronym {
    cursor: help;
    border-bottom: 1px dotted #999;
}
address, cite, dfn {
    font-style: normal;
}
code, pre {
    white-space: pre-wrap;
}
img {
    vertical-align: bottom;
}
td, th, textarea {
    vertical-align: top;
}
input, select, button {
    overflow: visible;
    vertical-align: middle;
}
legend {
    color: #000;
    margin: 0 0 -2px;
    padding: 0;
}
li {
    display: block;
    list-style: none;
}
optgroup option {
    padding-left: 22px;
}
table {
    border-collapse: collapse;
}
caption, th {
    text-align: left;
}
td, th {
    padding: 0;
}
address, blockquote, h1, h2, h3, h4, h5, h6, fieldset, p, ol, ul {
    margin: 0;
    padding: 0;
}
th, h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
q {
    quotes: "\00ab" "\00bb" "\201e" "\201c";
}
q:after {
    content: "\00bb";
}
q:before {
    content: "\00ab";
}
q > q:after {
    content: "\201c";
}
q > q:before {
    content: "\201e";
}
/* lobster-regular - latin_cyrillic */
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lobster-v23-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/lobster-v23-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/lobster-v23-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/lobster-v23-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/lobster-v23-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/lobster-v23-latin_cyrillic-regular.svg#Lobster') format('svg'); /* Legacy iOS */
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}
@media (max-width: 375px) {

}