
.main-menu {
    height: 1045px;
    margin: 80px 0;

    flex-direction: column;
    display: flex;
    width: 100%;

}
.menu-page-container {
    padding: 150px 50px;
    max-width: 1110px;
    margin: 0 auto;
    color: #2b2c2f;

}
.menus-header {
    font-family: Lato;
    font-weight: 700;
    font-size: 36px;
    line-height: 92px;
    text-align: start;
    /*text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}
.menu-items {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #9b9b9b;
    font-size: 30px;

}
.menu-foods-image {
    width: 130px;
    margin-left: 10px;

}
.menu-foods-name {
    width: 680px;
    margin-left: 10px;
}
.menu-foods-name p {
    font-family: Lato;
    font-weight: 500;
    line-height: 1.5;
}
.menu-foods-name span {
    color: #9b9b9b;
    font-size: 16px;
}
.menu-foods-price {
    width: 130px;
    margin-left: 10px;

}
.menu-add-to-cart {
    width: 130px;
    margin-left: 10px;

}
.add-to-card-icon {
    width: 45px;
}
.add-to-cart-button {
    border: none;
    background-color: white;
    cursor: pointer;
    background-image: url(../../../assets/images/shopping-cart_gray.svg);
    width: 45px;
    height: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;




}
.add-to-cart-button:hover {
    background-image: url(../../../assets/images/shopping-cartyellow.svg);

}