.banner {
    position:relative;
    z-index: -1;
    background-image: url(../../../../assets/images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 604px;

}
.container {
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
}


.banner h2 {
    font-family: Roboto Slab;
    font-weight: normal;
    font-size: 70px;
    line-height: 92px;
}
.banner h3 {
    font-family: Lobster;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
}
.banner p {
    /*position: absolute;*/
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

}

.button-text {
    margin: 15px 56px;
    width: 270px;
    height: 54px;
    background-color: #BCD339;
    border-radius: 35px;
    border-color: #BCD339;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-text:hover {

    background-color: grey;
    border-color: chocolate;
    cursor: pointer;
}
.button-text span {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 24px;
    /*text-align: center;*/
    color: #FFFFFF;

}