.menu {
    position: absolute;
    width: 1170px;
    height: 65px;
    left: 365px;
    top: 136px;
    display: flex;
    background: #F16121;
    border-radius: 35px;
    align-items: start;
    justify-content: space-between;
}
.navigation {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 45px;
    width: 400px;
    height: 60px;
    padding-top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF !important;


}
.cart-container {
    position: relative;
    display: flex;
    width: 45px;
    height: 25px;
    margin: 20px 35px;



}
.cart {
    width: 25px;
    height: 25px;
    margin-right: 2px;
}
.cart-count {
    width: 18px;
    height: 16px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding-top: 5px;

    color: #FFFFFF;

}
.nav_item_home {
    width: 52px;
    height: 16px;
    margin-right: 40px;
}
.nav_item_menu {
    width: 44px;
    height: 16px;
    margin-right: 40px;


}
.nav_item_contact {
    width: 76px;
    height: 16px;
    margin-right: 40px;

}
.nav_item_about {
    width: 42px;
    height: 16px;

}