.our-menu {
    height: 1045px;
    background-image: url(../../../../assets/images/menu_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 80px 0;
    /*justify-content: center;*/
}

.menu-header {
    font-style: italic;
    font-weight: bold;
    font-size: 55px;
    font-family: Crimson Text, serif;
    line-height: 68px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.our-menu-container {
    padding: 150px 200px;
    max-width: 1110px;
    margin: 0 auto;
}
.menu-list {
    z-index: -1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 55px;
    gap: 40px;

}
.menu-item {
    position:relative;
    border-radius: 5px;
    margin-bottom: 20px;

}
.menu-img{

    width: 200px;
    height: 200px;
}


.menu-item-bottom {
    position: absolute;
    background: #BFDB39;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    top: 170px;
    height: 52px;
    align-items: center;
    justify-content: space-between;
}
.menu-item-bottom-text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
}

